[submodule "dotfiles/nvim/bundle/Vundle.vim"]
	path = dotfiles/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "dotfiles/nvim/pack/tpope/start/commentary"]
	path = dotfiles/nvim/pack/tpope/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "dotfiles/nvim/pack/tpope/start/surround"]
	path = dotfiles/nvim/pack/tpope/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "dotfiles/emacs/lean4-mode"]
	path = dotfiles/emacs/lean4-mode
	url = https://github.com/leanprover-community/lean4-mode
